<p class="paragraph">Using Angular 2+ and any frameworks/open source libraries required, create an application that
      does the following:</p>
  <ul>
      <li>Periodically (every 10 seconds) poll for new posts from this API
        <a href="https://hn.algolia.com/api/v1/search_by_date?tags=story" class="url">https://hn.algolia.com/api/v1/search_by_date?tags=story</a>  via a GET request.</li>
      <li>Display the title, url, created_at, and author of each post in a table.</li>
      <li>Upon selecting a row in the table, a modal should appear containing the raw JSON data
            of post. This modal should support dismissal by clicking outside of the modal as well as
            upon clicking a close button.</li>
      <li>Support the ability to filter/search the table by title.</li>
  </ul>